*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}


//abstract
@import 'abstract/anchor';
@import 'abstract/colors';
@import 'abstract/width';
@import 'abstract/selection';

//components
@import 'components/navbar';
@import 'components/first';
@import 'components/fast';
@import 'components/green';
@import 'components/wrad';
@import 'components/footer';
@import 'components/economia';
@import 'components/post';
@import 'components/btnup';



body{
    letter-spacing: 1px;
}

a{
    @include anchor();
}

p{
    line-height: 25px;
    color: $text;
}

