.sectFirst{
    width: 100%;
    height: auto;
    margin-top: 1rem;

    .contFirst{
        width: $width;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;

        #mainImg{
            width: 450px;
        }

        #titleFirst{
            font-size: 3.5rem;
            color: $heading;
            font-weight: bold;
            text-transform: uppercase;
        }

        & > div p{
            font-size: 1.2rem;
            margin-top: 1rem;
            color: $main;
            font-weight: 600;
        }
    }
}

@media only screen and (min-width: 1367px) {    
    .sectFirst{
        .contFirst{
            width: $wLarge;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {    
    .sectFirst{
        .contFirst{
            width: 90%;
            flex-direction: column-reverse;
            text-align: center;

            #mainImg{
                width: 100%;
                margin: auto;
                display: block;
            }
        }
    }
}