$heightNav : 10vh;
$heightLargeNav : 7vh;


nav{
    width: 100%;
    height: $heightNav;
    top: 0;

    .contNav{
        position: fixed;
        width: 100%;
        height: $heightNav;
        background-color: white;
        box-shadow: 2px 0 6px #dadce0, inset 0 -1px 0 0 #dadce0;
        z-index: 9999;

        .contNavLink{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75vw;
            height: $heightNav;
            margin: auto;

            #logo{
                width: 50px;
                height: 50px;
            }

            .navLinks{
                display: flex;
                list-style-type: none;
                width: 55%;
                justify-content: space-between;
                align-items: center;

                .link a{
                    color: $heading;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 0.5rem;
                    border-radius: 8px;
                    transition: 0.3s;

                    &:hover{
                        background-color: $back;
                    }
                }
            }
        }
    }
}

//cont for the background color
.headerBack{
    height: auto;
    background-color: $back;
}

@media only screen and (min-width: 1367px) {    
    nav{
        height: $heightLargeNav;
        .contNav{
            height: $heightLargeNav;

            .contNavLink{
                height: $heightLargeNav;
            }

            .navLinks{
                width: 50%;
                height:$heightLargeNav;
            }
        }
    }
}