.mainPost{
    width: 100%;
    color: #292929;

    .sectPost{
        width: 60%;
        margin: auto;
        padding: 2rem;

        #postImg{
            width: 100%;
        }

        #titlePost{
            font-size: 3rem;
            color: $heading;
            position: relative;
            padding-bottom: 1rem;
            margin-top: 2rem;
            
            &:before{
                content: '';
                background-color: $main;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 8px;
                width: 10%;
                
            }
        }

        & h2,h3,img{
            margin-top: 2.5rem;
            position: relative;
        }

        & p{
            margin-top: 1rem;
        }
    }

    h3{
        font-size: 1.5rem;
        
        &::before{
            content: '- ';
            color: $main;
            font-size: 1.5rem;
            
        }
    }
}

strong{
    color: $main;
}

.imgPost{
    display: block;
    margin: auto;
}

.current{
    background-color: $back;
}

@media only screen and (min-width:1367px){
    .mainPost{
        .sectPost{
            width: 50%;
        }
    }
}

@media only screen and (min-width:0px) and (max-width: 767px){
    .mainPost{
        .sectPost{
            width: 100%;
            padding: 1rem;
        }

        h3{
            font-size: 1.3rem;
        }
    }

    
}